.section {
  padding: 60px 20px;
  text-align: center;
  background-color: #ffffff;
  position: relative;
}

.container {
  max-width: 1100px;
  margin: auto;
  position: relative;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 800px;
}

.centerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 400;
  color: #000066;
  z-index: 10;
}

/* Wrapper for each service card */
.cardWrapper {
  width: 350px;
  height: 350px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Background Image */
.imageWrapper {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
    background-position: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.cardWrapper:hover .image {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
}

.cardWrapper:hover .overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Rounded Section Card Inside */
.roundedCard {
  width: 268px;
  height: 268px;
  background: #FAF8FF;
  
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  box-shadow: 0px 2px 4px 0px #00000040;

  position: relative;
  z-index: 2;
}

.icon {
  color: #000066;
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.imagesme{
  visibility: hidden;
}

.roundedCard h3 {
  font-size: 24px;
  font-weight: bold;
  color: #000066;
  margin-bottom: 10px;
}

.roundedCard p {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.2;
}

.footer {
  margin-top: 170px;
  text-align: center;
}

.footer p {
  font-size: 20px;
  color: #333;
  font-weight: 400;
}

.button {
  background-color: #000066;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #000099;
  transform: scale(1.05);
}


.learnMoreLink {
  color: #000066;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.learnMoreLink:hover {
  color: #000099;
  text-decoration: underline;
}




