.Overview_section {
  /* padding: 4rem 0; */
  
  .Overview_container {
      padding: 50px 60px;
      padding-bottom: 10px;
  }
  
  .header {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      justify-content: space-between;
      margin-bottom: 50px;
  }
  
  .heading {
      font-size: 36px;
      font-weight: 700;
      color: #8470BE;
      text-align: left;
      /* white-space: nowrap; */
  }
  
  .lines {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
  }
  
  .lines div {
      display: block;
      width: 100%;
      height: 2px;
      background: #99999933;
  }
  
  .grid {
      display: grid;
      gap: 3.9rem;
      grid-template-columns: 1fr;
  }

  .btn {
    background: #5B21FF;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
  }

  .buttons{
    margin-top: 30px;
  }
  
  .btn:hover {
    background-color: #5B21FF;
  }
  
  @media (min-width: 900px) {
      .grid {
          grid-template-columns: 1fr 1fr;
          align-items: center;
      }
  }
  
  .imageWrapper {
      position: relative;
      height: 390px;
      overflow: hidden;
      border-radius: 20px;
  }
  
  .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .textContent {
      display: flex;
      flex-direction: column;
      gap: 1.7rem;
  }
  
  .paragraph {
      color: #000000CC;
      font-weight: 400;
      font-size: 18px;
  }
  
  /* Responsive Design */
  @media (max-width: 900px) {
      .Overview_container {
          padding: 50px 40px;
      }

      .header {
        margin-bottom: 40px;
    }

      .heading {
          font-size: 32px;
      }

      .grid {
          grid-template-columns: 1fr;
      }

      .imageWrapper {
          height: 300px;
      }

      .paragraph {
          font-size: 17px;
      }
      .btn {
        font-size: 17px;
     }
     .buttons{
        margin-top: 0px;
      }
  }

  @media (max-width: 600px) {
      .Overview_container {
          padding: 40px 20px;
      }

      .header {
          gap: 0.8rem;
          margin-bottom: 30px;
      }

      .heading {
          font-size: 28px;
      }

      .grid {
          gap: 2rem;
      }

      .imageWrapper {
          height: 250px;
          border-radius: 15px;
      }

      .paragraph {
          font-size: 16px;
      }

      .btn {
        font-size: 16px;
     }
     .buttons{
        margin-top: 0px;
      }
  }
}