.header_section {
  /* background-color: rgba(0, 0, 0, 0.4); */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  /* border-bottom: 1px solid #D9D9D933; */
  
}


.mainHeader{
  background: url("https://images.unsplash.com/photo-1504432842672-1a79f78e4084?auto=format&fit=crop&q=80&w=1920")
  no-repeat center center/cover;
  
}

.mainHeaderOverlay{
  background: #00000099;

}

.otherHeader {
  /* background-color: #19174cd1; */
  /* border-bottom: 1px solid #D9D9D933; */
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchButton img {
  width: 24px;
  cursor: pointer;
}

.logo img {
  width: 150px;
  height: 70px;
}

/* .logo img {
  width: 170px;
} */

.logoWithHamburger {
  display: flex;
  justify-content: space-between;
}

.searchContainer {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}

.searchInput {
  width: 100%;
  padding: 0.6rem 1.5rem;
  padding-left: 4rem;
  border: 1px solid #5B21FF;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  background: #F5F5F5;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  /* position: absolute;
  left: 1.5rem;
  top: 50%; */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.searchIcon {
  color: white;
  width: 20px;
  height: 20px;
}

.authGroup {
  display: flex;
  padding: 10px;
  gap: 1rem;
}

.navList {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  /* padding-bottom: 2rem; */
  margin: 0 auto;
  list-style: none;
}

.navLink {
  text-decoration: none ;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 14px;
  position: relative;
  padding: 10px 0;
  transition: color 0.3s;

 
}

.navLinkActive{
  text-decoration: none ;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 14px;
  position: relative;
  padding: 10px 0;
  transition: color 0.3s;
}

.navLink:hover {
  color: #FFFFFF;
  font-weight: 600;
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #FFFFFF;
  transition: width 0.3s;
}



.navLink:hover::after {
  width: 100%;
}

.bttn {
  background: #4353FF;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
}

.bttn:hover {
  background-color: #292C9F;
}

.sidebarContainer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .topBar {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }

  .searchContainer {
    max-width: 100%;
  }

  .authGroup {
    justify-content: center;
  }

  .navList {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .topBar {
    padding: 30px 20px;
  }

  .logo img {
    width: 120px;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .hamburger img {
    width: 36px;
  }

  .closeButton {
    font-size: 26px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
    align-self: flex-end;
    margin: 15px;
  }

  .closeButton img {
    width: 36px;
    height: 36px;
  }

  .mobileMenu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: #19174C;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
    transition: right 0.4s ease-in-out;
    box-shadow: -4px 0px 15px rgba(0, 0, 0, 0.3);
  }

  .mobileMenu.openMenu {
    right: 0;
  }

  .navList {
    flex-direction: column;
    gap: 22px;
  }

  .navBar {
    display: none;
  }
}
