
    
  /* ******************************************************* */
  /* section third 3 */
  
  .expertiseContainer {
    width: 100%;
    /* background-color: #101047; */
    padding: 50px 70px;
    color: white;
    text-align: left;
    /* margin-bottom: 100px; */

    .header{
      margin-bottom: 0px;
    }

  }
  
  
  
  /* Description */
  .expertiseDescription {
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto 40px;
    text-align: left;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 35px;
    /* width: 70%; */
  }

 
      
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .expertiseContainer {
      padding: 40px 50px;
       

    }


  }
  
  @media (max-width: 768px) {
    .expertiseContainer {
      padding: 30px 30px;

  
    }
      
  }
  
  @media (max-width: 480px) {
    .expertiseContainer {
      padding: 30px 20px;


      .btn{
        width: 100%;
      }
    }
  
    
  }





  
  /* ******************************************************* */
  /* section third 3 */
  
  .whyContainer {
    width: 100%;
    /* background-color: #101047; */
    padding: 50px 70px;
    color: white;
    text-align: left;
    /* margin-bottom: 100px; */

   
  }
  
  .btn {
    background: #5B21FF;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    white-space: nowrap;
  }
  
  .btn:hover {
    background: #5B21FF;
    /* border: 1px solid #6841ea; */
  }
  
  .authGroup {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 1rem;
  }
  
  /* Description */
  .whyDescription {
    font-size: 25px;
    font-weight: 500;
    margin: 0 auto 40px;
    text-align: left;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    /* width: 70%; */
  }

  .optimize{
    font-size: 30px;
    font-weight: 700;
    color: #8470BE;
    /* text-align: left; */
    white-space: normal;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
  }

  .optimizedescription{
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto 40px;
    text-align: left;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }

  .listSection{
          color: #333;
        
        .list {
          list-style:none;
          /* padding-left: 20px; */
          padding-left: 35px;
        }
        
        .list li {
          margin-bottom: 8px;
          font-size: 16px;
        }
        
        .bold {
          font-weight: bold;
          cursor: pointer;
        }

        .bold:hover{
          text-decoration: underline;
          color: #5B21FF;
        }
        
        .description {
          margin-top: 10px;
          color: #555;
          font-size: 20px;
          margin-left: 15px;
        }
        
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .whyContainer {
      padding: 40px 50px;
       

    }
  
    .whyDescription {
      font-size: 23px;
      width: 100%;
    }

    .optimize{
      font-size: 26px;
      margin-top: 40px;
    }
  
    .optimizedescription{
      font-size: 20px;
      margin-bottom: 30px;
    }

    .listSection{


    
    .list li {
      font-size: 16px;
    }
    
    .description {
      font-size: 20px;
    }
    
}

  }
  
  @media (max-width: 768px) {
    .whyContainer {
      padding: 30px 30px;

      .heading{
        white-space: normal;
       }
      .header{
        flex-wrap: wrap;
      }
    }
  
    .whyDescription {
      font-size: 21px;
      width: 100%;
    }

    .optimize{
      font-size: 22px;
      margin-top: 40px;
    }
  
    .optimizedescription{
      font-size: 19px;
      margin-bottom: 20px;
    }
    .listSection{
    
      .list{
        padding-left: 20px;
      }
      .list li {
        font-size: 16px;
      }
      
      .description {
        font-size: 19px;
      }
  }
      
  }
  
  @media (max-width: 480px) {
    .whyContainer {
      padding: 30px 20px;


      .btn{
        width: 100%;
      }
    }
  
    .whyDescription {
      font-size: 19px;
      width: 100%;
    }

    .optimize{
      font-size: 20px;
      margin-top: 40px;
    }
  
    .optimizedescription{
      font-size: 19px;
      margin-bottom: 15px;
    }

    .listSection{
    
      .list{
        padding-left: 15px;
      }
      .list li {
        font-size: 16px;
      }
      
      .description {
        font-size: 19px;
      }
  }  

    
  }

    
    /* ******************************************************** */
    /* Heading CSS media Queries */
    
   
/* heading part */
.header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Heading */
  .heading {
    font-size: 38px;
    font-weight: 700;
    color: #8470BE;
    text-align: left;
    white-space: nowrap;
  }
  
  /* Lines */
  .lines {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  
  .lines div {
    display: block;
    width: 100%;
    height: 2px;
    background: #99999933;
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .header {
       
        gap: 0.8rem;
    }
  
    .heading {
        font-size: 34px; /* Slightly smaller heading */
    }
  }
  
  @media (max-width: 768px) {
    .heading {
        font-size: 27px; /* Reduce heading size for tablets */
    }
    
    .header {
        /* margin-bottom: 30px; */
        gap: 0.6rem;
    }
  
    .lines div {
        height: 1.5px; /* Slightly thinner lines */
    }
  }
  
  @media (max-width: 480px) {
    .heading {
        font-size: 27px; /* Even smaller for mobile */
    }
  
    .header {
        gap: 0.5rem;
        /* margin-bottom: 20px; */
    }
  
    .lines div {
        height: 1px; /* Thinner lines for compact design */
    }
  }
  



  .sliderSection {
    margin: auto;
    position: relative;
    padding: 20px 0;
   padding-top: 0px;
    
  }
  
  .card {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    margin: 1px;
    color: white;
  }
  
  .cardOverlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px 25px;
    border-radius: 8px;
    width: 100%;
    height: 100%;

    ul{
      /* padding-left: 0px !important; */
    }
  }
  
  .cardTitle {
    font-size: 28px; /* Default for desktop */
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .cardText {
    font-size: 20px; /* Default for desktop */
    margin-bottom: 40px;
  }
  
  .highlightList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  
  .highlightList li {
    margin: 12px 0;
    font-size: 16px;
  }
  
  .highlightLabel {
    font-weight: 700;
    font-size: 16px;
    background: #ffffff;
    border-radius: 10px;
    padding: 6px 12px;
    color: #5B21FF;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 4px;
  }
  
  .highlightdetail {
    font-weight: 400;
    font-size: 16px;
    display: block;
  }
  
  /* Custom Navigation Arrows */
  .arrowsContainer {
    position: absolute;
    bottom: 70px;
    right: 46px;
    display: flex;
    gap: 25px;
  }
  
  .arrowRight,
  .arrowLeft {
    background: #5B21FF;
    color: #ffffff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 12px 14px;
    z-index: 10000;
  }
  
  .arrowRight img,
  .arrowLeft img {
    width: 22px;
    height: 22px;
  }
  
  /* Description Section */
  .allDescription {
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto 40px;
    text-align: left;
    color: #FFFFFF;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin-bottom: 50px;
    margin-top: 40px;
  }
  
  .listglobalSection li{
    color: #FFFFFF;
    /* list-style:none; */
    /* padding-left: 0px !important; */
  }


  .globallines {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    margin-top: 2px;
  }
  
  .globallines div {
    display: block;
    width: 100%;
    height: 1.6px;
    background: #000000;
  }
  
  /* ======== MEDIA QUERIES ======== */
  
  /* Tablets */
  @media (max-width: 1024px) {
    .cardTitle {
      font-size: 26px; 
      margin-bottom: 35px;
    }
    
    .cardText {
      margin-bottom: 35px;
      font-size: 19px; 
    }

     
  .cardOverlay {
    padding: 40px 20px;
  }
  
  
    .highlightLabel, .highlightdetail {
      font-size: 16px;
    }
  
    .arrowsContainer {
      bottom: 60px;
      right: 30px;
    }

    .allDescription {
      font-size: 18px;
      text-align: left;
      margin-top: 35px;
    }

    

    .heading {
      white-space: normal;
  }
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .cardTitle {
      font-size: 22px;
      margin-bottom: 30px; 
    }
    
    .cardText {
      margin-bottom: 30px; 
      font-size: 18px; 
    }

        
  .cardOverlay {
    padding: 30px 16px;
  }
  
    .highlightLabel, .highlightdetail {
      font-size: 16px;
    }
  
    .arrowsContainer {
      bottom: 50px;
      right: 20px;
    }
  
    .allDescription {
      font-size: 17px;
      text-align: left;
      margin-top: 30px;
    }
  }
  
  
  