.heroSection {
  background-color: #19174C;
  padding: 50px 40px;
  padding-bottom: 70px;
  color: white;
}

.otherHeroSection{
  /* background: rgb(0 0 0 / 70%); */
  background-color: #19174cd1;
  padding: 50px 40px;
  padding-bottom: 70px;
  color: white;
}

.container {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
}

.bttn {
  background: #5B21FF;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
}

.bttn:hover {
  background-color: #5B21FF;
}

@media (min-width: 900px) {
  .container {
      grid-template-columns: 3fr 1fr;
      gap: 6rem;
  }
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.heading {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.contentpart{
  font-size: 26px;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .heading {
      font-size: 56px;
  }
  .contentpart{
    font-size: 38px;
  }
  .container {
    grid-template-columns: 3fr 1fr;
    gap: 10rem;
}
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.rightContent {
  display: grid;
  gap: 1.5rem;
}

.rightContent hr {
  /* background: #D9D9D933; */
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.statValue {
  color: #4353FF;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.statDescription {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}


@media (max-width: 900px) {
  .statValue {
    font-size: 20px;
  }
  .heading {
    font-size: 33px;
    /* text-align: center; */
}
.contentpart{
  font-size: 25px;
}
.bttn {
  font-size: 14px;
}
}

@media (max-width: 600px) {
  .heroSection {
      padding: 30px;
      padding-bottom: 50px;
  }
  
  .statValue {
    font-size: 19px;
  }
  
  .statDescription {
    font-size: 16px;
  }
  .heading {
      font-size: 33px;
      text-align: center;
  }

  .container {
      grid-template-columns: 1fr;
      gap: 2rem;
  }

  .buttons {
     justify-content: center;
  }

  .bttn {
     font-size: 14px;
  }

  .rightContent {
      text-align: center;
  }

  .contentpart{
    font-size: 25px;
    text-align: center;
  }


  @media (max-width: 480px) {
    .heroSection {
      padding: 30px 20px;
  }
  }
  

}



