.Overview_section {
  padding: 4rem 0;
}

.Overview_container {
  padding: 50px 60px;
  padding-right: 0px;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  align-items: center;
}

.heading {
  font-size: 42px;
  font-weight: 400;
  color: #000064;
  text-align: left;
  margin-bottom: 25px;
}

.paragraph {
  color: #333;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.buttons {
  margin-top: 30px;
}

.btn {
  color: #000064;
  display: inline-block;
  /* background: #000064; */
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #000064;
  padding: 12px 25px;
  border-radius: 5px;
  /* color: #ffffff; */
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  /* background-color: #000099;
  transform: scale(1.05); */
}

/* Image Styling */
.imageWrapper {
  position: relative;
  /* max-width: 550px; */
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Responsive Design */
@media (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .Overview_container {
    padding: 50px 40px;
  }

  .heading {
    font-size: 30px;
  }

  .paragraph {
    font-size: 16px;
  }

  .imageWrapper {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .Overview_container {
    padding: 40px 20px;
  }

  .heading {
    font-size: 28px;
  }

  .paragraph {
    font-size: 15px;
  }

  .imageWrapper {
    height: 250px;
  }
}
